<div style='background-color:yellow; max-width: 200px; margin: 0 auto; box-shadow:  10px 10px 8px #888888; text-align: center'>
<h1><%= @note.title %></h1>
<h4><%= @note.author %></h1>
<p><%= @note.body %></p>
<%= link_to 'Back', notes_path %>
</div>