<div style="background-color: gray; display: flex; justify-content: space-around; padding: 8px 16px 8px 16px">
<%= link_to 'Home', root_path %>
<%= link_to 'About', about_path %>
<%= link_to 'Notes', notes_path %>
</div>